@use "./variables" as *;


body{
    background-color: rgb(24, 22, 20);


    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
            
                #display-screen{
                    color: white;
                    font-size: 1.3rem;
                    text-align: center;
                    margin-bottom: 2.5%;
                    height: 3rem;
                    width: 40%;
                    padding: 10%;
                    border: solid white 0.124rem;
                    border-radius: 10px;

                    #display-result{
                       float: right;
                       color: rgb(255, 235, 175);
                    }

                    #display-input{
                       float: left;
                        
                    }
                }
            
            

        .btn-grid{
            justify-items: center;
            align-items: center;
            padding: 5%;
            border: solid white 0.2rem;
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

            align-items: center;
            background-color: $display-background;
            border-radius: 10%;


            .btn-grid-item{
                background-color: $btn-background-color;
                width: 2.5rem;
                height: 2.5rem;
                
                border-radius: 10px;
                margin: 0.05rem;

            }

            .btn-grid__number{
                background-color: $btn-background-colorAlt;
                padding: 1rem;

            }

            .btn-grid__number:active{
                border-radius: 35%;
                background-color: $btn-background-pressed;
            }
        
        }
    }


    @media screen and (min-width:768px){

        .container{
            .btn-grid{
                padding: auto;

                .btn-grid-item{
                    width: 5rem;
                    height: 5rem;
                    font-size: 2rem;
                }   
            }

            #display-screen{
                font-size: 2.5rem;
                width: 60%;
            }
        }
    }

    @media screen and (min-width:1000px){

        .container{
            .btn-grid{
                padding: auto;

                .btn-grid-item{
                    width: 7.5rem;
                    height: 7.5rem;
                    font-size: 3rem;
                }
                
            }

            #display-screen{
                font-size: 4.5rem;
                width: 80%;
            }
        }
    }
}

