@use "./variables" as *;


body{
    background-color: black;


    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        .input-grid{
            display: flex;
            flex-direction: row;
            
            .input-screen{
                color: white;
                font-size: 6rem;
                text-align: right;
                padding-right: 10rem;
                @media screen and (min-width: 320px){
                    margin-top: 30rem;
                    font-size: 8rem;
                    padding-right: 6rem;
                }

                @media screen and (min-width: 720px){
                    margin-top: 35rem;
                    font-size: 10rem;
                    padding-right: 10rem;
                }

                @media screen and (min-width: 1000px){
                    margin-top: 50rem;
                    font-size: 12rem;
                    padding-right: 10rem;
                }
            
            }
        }


        .btn-grid{
            justify-content: center;
            padding: 1rem;
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: auto auto auto auto;
            align-items: center;


            .btn-grid__item{

                @media screen and (min-width: 320px){
                    background-color: $btn-background-color;
                    color: white;
                    padding: 1rem;
                    margin: 0.5rem;
                    padding: auto;
                    border-radius: 50%;
                    font-size: 2rem;
                    text-align: center;
                    align-items: center;
                    width:5rem;
                    height:5rem; 

                    &--long-btn{
                        grid-column: span 2;
                        width: 11.5rem;
                        -webkit-border-radius: 5rem;
                        background-color: $btn-background-color;
                        color: white;
                    }
                }  

                @media screen and (min-width:720px){
                    background-color: $btn-background-color;
                    color: white;
                    padding: 1rem;
                    margin: 0.5rem;
                    padding: auto;
                    border-radius: 50%;
                    font-size: 3rem;
                    text-align: center;
                    align-items: center;
                    width:10rem;
                    height:10rem; 

                    &--long-btn{
                        grid-column: span 2;
                        width: 21.5rem;
                        -webkit-border-radius: 5rem;
                        background-color: $btn-background-color;
                        color: white;
                    }
                    
                }  

                @media screen and (min-width:1000px){
                    background-color: $btn-background-color;
                    color: white;
                    padding: 1rem;
                    margin: 1rem;
                    padding: auto;
                    border-radius: 50%;
                    font-size: 5rem;
                    text-align: center;
                    align-items: center;
                    width:15rem;
                    height:15rem; 

                    &--long-btn{
                        grid-column: span 2;
                        width: 31.5rem;
                        -webkit-border-radius: 9rem;
                        background-color: $btn-background-color;
                        color: white;
                    }
                }  

                    &--orange-btn{
                        background-color: orangered;
                        color: white;
                    }

                    &--alternate-btn{
                        background-color: $btn-background-colorAlt;
                        color: black;                        
                    }

                
            }
        
        }
    }


}