@use "./variables" as *;

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(24, 22, 20);
    font-family: 'Orbitron', sans-serif;
    height: 100vh;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
            
                #display-screen{
                    color: white;
                    font-size: 1.3rem;
                    text-align: center;
                    margin-bottom: 1.5%;
                    margin-top: 0.5rem;
                    height: 2.5rem;
                    width: 10rem;
                    padding: 3rem;
                    border: solid white 0.124rem;
                    border-radius: 10px;

                    #display-result{
                       float: right;
                       color: rgb(255, 235, 175);
                    }

                    #display-input{
                        float: left;
                        padding-top: 1rem;
                    }
                }

        .btn-grid{
            justify-items: center;
            align-items: center;
            padding: 1rem;
            border: solid white 0.2rem;
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
                "ac negate percent divide"
                "seven eight nine multiply"
                "four five six minus"
                "one two three plus"
                "zero zero dot equals";
            align-items: center;
            background-color: $display-background;
            border-radius: 10px;


            .btn-grid-item{
                background-color: $btn-background-color;
                width: 2.8rem;
                height: 2.8rem;
                font-family: 'Orbitron', sans-serif;
                font-weight: 800;
                border-radius: 10px;
                margin: 0.05rem;

            }

            .btn-grid__number{
                background-color: $btn-background-colorAlt;
            }

            #zero{
                grid-column: span 2;
                width: 5.6rem;
            }

            .btn-grid__number:active{
                border-radius: 35%;
                background-color: $btn-background-pressed;
            }
        }
    }


    @media screen and (min-width:768px){

        .container{
            .btn-grid{
                padding: auto;

                .btn-grid-item{
                    width: 3rem;
                    height: 3rem;
                    font-size: 1.2rem;
                }   
            }
        }
    }

    @media screen and (min-width:1000px){

        .container{
            .btn-grid{
                padding: auto;

                .btn-grid-item{
                    width: 7.5rem;
                    height: 7.5rem;
                    font-size: 3rem;
                }
                
            }
        }
    }
}

