$btn-background-color: rgb(194, 194, 194);
$btn-background-colorAlt: rgb(101, 101, 101);
$btn-background-pressed: rgb(43, 43, 43);
$display-background: rgb(44, 42, 40);
$btn-hover: rgb(131, 121, 121);
$display-border: rgb(49, 49, 49);

